<div class="card" style="width: 80%;margin: AUTO;">
  <div class="card-body">
	<h1>New Vlog</h1>
	
	<%= render 'form', vlog: @vlog %>
	<br/>
</div>
</div>
<br/>
<div style="width: 80%;margin: AUTO;">
	<%= link_to 'Back', vlogs_path%>
</div>
