<div class="card" style="width: 80%;margin: AUTO;">
  <div class="card-body">
	<h1>New Comment</h1>
	
	<%= render 'form', comment: @comment %>
	<br/>
</div>
</div>
<br/>
<div style="width: 80%;margin: AUTO;">
	<%= link_to 'Back', @vlog%>
</div>
