<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p>
  <strong>Vlog:</strong>
  <%= @comment.vlog_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>
